.nav {
   height: 55px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   -webkit-box-shadow: 0px 4px 21px -9px rgba(0,0,0,0.20);
   -moz-box-shadow: 0px 4px 21px -9px rgba(0,0,0,0.20);
   box-shadow: 0px 4px 21px -9px rgba(0,0,0,0.20);
   border-bottom-left-radius: 25px;
   border-bottom-right-radius: 25px;
   background-color: white;
}

.nav-img{
      height: 70%;
}

.nav-form {
    justify-self: start;
}

.nav-form-div {
    background-color: #F3F4F6;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 20px;
}

.nav-form-div-input{
    background-color: transparent;
    border: none;
}

.nav-form-div-input::placeholder {
    color: #A9AAB1;
}

.nav-form-div-input:focus {
    outline: none;
}

.nav-div-user {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDBDBD;
}

.nav-div-user span {
    color: white;
}
